@using MvcStok.Models.Entity;
@model List<MUSTERILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
            {
                <p>
                    <b>Aranacak Müşteri Adı:</b>@Html.TextBox("p")
                    <input type="submit" value="Ara" />
                </p>
            }
<head>
    <style>
        .btn {
            position: relative;
            font-size: 15px;
            /*text-transform: uppercase;*/
            text-decoration: none;
            padding: 1em 2.5em;
            display: inline-table;
            border-radius: 6em;
            transition: all .2s;
            border: none;
            font-family: inherit;
            font-weight: 500;
            color: white;
            background-color: black;
        }

            .btn:hover {
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }

            .btn:active {
                transform: translateY(-1px);
                box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
            }

            .btn::after {
                content: "";
                display: inline-block;
                height: 100%;
                width: 100%;
                border-radius: 100px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all .4s;
            }

            .btn::after {
                /*background-color: #fff;*/
            }

            .btn:hover::after {
                transform: scaleX(1.4) scaleY(1.6);
                /*opacity: 0;*/
            }
    </style>
</head>

<table class="table table-bordered">
    <tr>
        <th>Müşteri Id</th>
        <th>Müşteri Adı</th>
        <th>Müşteri Soyadı</th>
        @*<th>Sil</th>*@
        <th>Güncelle</th>
        <th>Sil</th>


    </tr>
    <tbody>
        @foreach (var mus in Model)
        {
            <tr>
                <td>@mus.Musteri_ID</td>
                <td>@mus.Musteri_AD</td>
                <td>@mus.Musteri_SOYAD</td>
                @*<td><a href="/Musteri/Sil/@mus.Musteri_ID" class="btn btn-danger">Sil</a></td>*@
                <td>
                    <a href="/Musteri/MusteriGetir/@mus.Musteri_ID" class="btn btn-warning">Güncelle</a>
                </td>
                <td>@Html.ActionLink("Sil Butonu", "Sil", new { id=mus.Musteri_ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstediğinizden Emin Misiniz?')" })</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Musteri/YeniMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>
